{% extends "layout.html" %}

{% block content %}

<section class="row">

  <div class="small-12 columns">

  <p>
  In September of 2013 the New York Times 
  <a href="http://www.nytimes.com/2013/09/24/us/politics/in-supreme-court-opinions-clicks-that-lead-nowhere.html?_r=0">announced</a>
  that 49% of Web links in Supreme Court opinions no longer worked.
  The article drew on the 
  <a href="http://blogs.law.harvard.edu/futureoftheinternet/2013/09/22/perma/">work</a>
  of a team at Harvard who parsed and curated bulk data from
  <a href="https://www.courtlistener.com/">CourtListener</a> to determine 
  the link rot and 
  <a href="http://www.mementoweb.org/missing-link/">reference rot</a> 
  of URLs in 
  <a href="http://www.supremecourt.gov/opinions/opinions.aspx">SCOTUS opinions</a>. 
  The problem became the seed for the 
  <a href="http://perma.cc">perma.cc</a> web archiving project.
  </p>

  <p>
  SCOTUS Bookmarks provides a 
  <a href="{{ url_for('urls') }}">list of URLs</a> 
  found in the opinion PDFs published on the 
  <a href="http://www.supremecourt.gov/opinions/opinions.aspx">SCOTUS
    website</a>.  The list is automatically updated and can be used by 
  Web Archiving projects that want to ensure they have a snapshot 
  of the context around the opinions. Suggestions and improvements for
  this application are welcome on 
  <a href="http://github.com/edsu/opinions">GitHub</a>.
  </p>

  </div>

  <div class="small-12 columns">

    <div id="author-chart">
    </div>

  </div>

</section>

{% endblock %}

{% block script %}
<script>
  $(drawAuthorChart);
</script>
{% endblock %}
