<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
  </head>

  <body>

    <header class="row text-center">
      <a href="{{ url_for('home') }}">
        <img class="show-for-large-only" src="{{ url_for('static', filename='img/ionic.jpg') }}">
        SCOTUS 
        <img class="show-for-large-only" src="{{ url_for('static', filename='img/ionic-b.jpg') }}">
        Bookmarks
        <img class="show-for-large-only" src="{{ url_for('static', filename='img/ionic.jpg') }}">
      </a>
    </header>

    <hr>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/opinions.js') }}"></script>
    <script>
      $(document).foundation();
    </script>

    {% block script %}
    {% endblock %}

  </body>

</html>
