{% extends "layout.html" %}

{% block content %}
  <div class="row">

    <p class="text-center"> 
    If you would prefer to view this data in your spreadsheet 
    download the <a href="{{ url_for('urls_csv') }}">CSV</a>.
    </p>

    <table>
      <tr>
        <th width="40%">URL</th>
        <th width="10%">Published</th>
        <th width="15%">Author</th>
        <th width="35%">Opinion</th>
      </tr>
      {% for u in urls %}
      <tr>
        <td><a href="{{ u.url }}">{{ u.url|wordwrap(60, wrapstring="<br>")|safe }}</a></td>
        <td>{{ u.opinion.published.strftime("%Y-%m-%d") }}</td>
        <td><a href="{{ url_for('author', author_id=u.opinion.author.id) }}">{{ u.opinion.author.name }}</a></td>
        <td><a href="{{ u.opinion.pdf_url }}">{{ u.opinion.name }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
